footer{
    background-color: black;
    min-height: 70vh;
    width: 100%;     
}
.piedepagina {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 60px; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 16px;
    box-sizing: border-box;
}
.columna {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 10px;
    text-align: center;
    align-items: center; /* importante */
}

@media (max-width: 768px) {
    .piedepagina {
        flex-direction: column;
        gap: 24px;
    }
}