.contendor_unacolum{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nombre{
    color: #880a17;
}
.profile{
text-align:center;
}

.profile-image{
position:relative;
width:220px;
height:220px;
margin:0 auto 15px;
}

.profile-image img{
width:100%;
height:100%;
object-fit:cover;
border-radius:12px;
}

.img-hover{
position:absolute;
top:0;
left:0;
opacity:0;
transition:opacity .4s ease;
}

.profile-image:hover .img-hover{
opacity:1;
}